body{
    background-color: #7c7778;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}

.top-nav>.fa{  
    font-size: 26px;
    color: white;

}
.info{
    color: white;
    text-align: center;
    margin-top: 100px;
}
.cover{
    width: 200px;
    height: 200px;
    border-radius: 120px;
    border: 20px solid black;
    margin-left: auto;
    margin-right: auto;

    display: block;
}
.audio {
    margin-top: 40px;
    text-align: center;
  }